div, canvas, input, form, p {
    margin: 0;
    padding: 0;
}

input {
    width: 140px;
}

form>div {
    margin: 10px 0;
}

#footballFieldCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

#playerCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

/*左控制框*/

#controll_left {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 240px;
}

#controll p {
    color: rgb(36, 35, 35);
    font-weight: bold;
}

#controll>form>div~div {
    margin-top: 20px;
}

.param {
    display: none;
}

.show {
    display: block;
}

/*右控制框*/

#controll_right {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 200px;
}

#controll_right>form {
    margin: 30px 0;
}

#onePressButton {
    background: #000;
}

#onePressButton:hover {
    background: rgb(243, 9, 9);
    box-shadow: 0 0 3px 3px rgba(243, 9, 9, 0.4);
    border-radius: 10px;
}